.green {
  color: #84cc16;
}

.red {
  color: #fb7185;
}

.neutral {
  color: gray;
}

.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  font-size: 24px;
  cursor: pointer;
}
.delete-icon:hover {
  color: red;
  transition: color 0.5s;
}

.edit-input {
  padding: 8px;
  font-family: "Google Sans";
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}
