.green {
  color: #84cc16;
}

.red {
  color: #fb7185;
}

.neutral {
  color: gray;
}

.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.icon:hover {
  transition: color 0.5s;
}

.edit-icon:hover {
  color: goldenrod;
}

.delete-icon:hover {
  color: red;
}

.edit-input {
  padding: 8px 16px;
  font-family: "Google Sans";
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #cccccc;
  border-radius: 5px;
  max-width: 120px;
  text-align: center;
}
