.tabs {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  font-weight: 500;
  font-size: 16px;
  padding: 4px 40px;
}

.tabs .tab-item {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.tabs .tab-item:hover {
  opacity: 0.8;
}

.active-tab {
  color: #007bff; /* Bright blue */
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}
